{% liquid
  assign id = section.id
%}
{% liquid
  assign text_color = section.settings.color_scheme.settings.text
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    p{
      margin: 0;
    }
    form#contact_form {
        max-width: 460px;
        margin: auto;
    }    
  }
  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
    .--content-wrapper.main__manu-wrapper.main--1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }  
    .--content-wrapper.main__manu-wrapper.main--1, .main__manu-wrapper.newsletter-wrapper.main--2 {
      border-right: 1px solid #E7E5E4;
        @media(max-width: 980px)   {
        align-items: center;
        border-right: unset;
        }
      @media(max-width: 768px){
        border-right: 0;
      }
    }
    .main__manu-wrapper.newsletter-wrapper.main--2 {
        grid-column: 2/5;
        @media(max-width: 980px)   {
        grid-column: unset;
        }
    }  
  #shopify-section-{{id}} {
    .wrapper-{{ id }}{
      display: flex;
      flex-direction: column;
      gap: var(--Spacing-Container-xs, 12px);
    }
    .main--3 {
      grid-column: 5 / -1;  
      justify-self: end;
              @media(max-width: 980px)   {
        grid-column: unset;
        justify-self: center;
        }
    }
    .main--4 {
        grid-column: 1 / 3;
              @media(max-width: 980px)   {
        grid-column: unset;
        justify-self: center;
        }
    }
    .main--6 {
        grid-column: 4 / -1;
                justify-content: end;
              @media(max-width: 980px)   {
        grid-column: unset;
        justify-self: center;
        justify-content: center;
        }
    }
    .main--5 {
        grid-column: auto;
                @media(max-width: 980px)   {
        grid-column: unset;
        }
    }
    .main--4, .main--6 , .footer__list-social{
        display: flex;
        gap: 24px;
        align-items: center;
        @media(max-width: 768px) {
          justify-content: center;
        }
    }
    p.main__menu-subtitle {
        text-align: center;
        color: #78716C;
        margin-bottom: 40px;
    }
    .main__navigation {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        padding-block: var(--Spacing-Container-md, 24px);
        align-items: center;
        gap: 64px var(--Spacing-Container-md, 24px);
      @media(max-width: 980px){
        grid-template-columns: minmax(0, 1fr);
        row-gap: 24px;
      }
      @media(max-width: 520px){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 32px;
      }
    }
    .main--2 .main__menu-title {
        color: #0B0404;
        font-size: 36px;
        font-style: normal;
        line-height: 140%;
        text-transform: capitalize;
        margin-bottom: 8px;
        letter-spacing: 0;
        font-family: var(--font-heading-family);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 129%; /* 46.44px */
        letter-spacing: -0.72px;        
    }
    .main__menu-title {
        color: #0B0404;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: 0;
    }


    .newsletter-wrapper{
        position: relative;      
      @media(max-width: 768px){
        grid-row: 1;
        grid-column: 1/-1;
      }
    }
    .newsletter-wrapper::after {
      content: "";
      position: absolute;
    }
    .main__manu-wrapper .button.full {
      width: max-content;
      margin: auto; 
      display: flex;      
      cursor: pointer;
    }
    .main__manu-wrapper .mian__menu {
     color: #000000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      transition: opacity 0.15s ease-in 0.1s;
    }
    .main__manu-wrapper .mian__menu:hover {
      opacity: 0.7;      
    }
    .--content-wrapper.main__manu-wrapper .--content {
        color: {{ text_color }};  
        a {
            color: #78716C;
        }
    } 
    .main__navigation--container  {
      position: relative;
    }
    .main__navigation--container::after {
      position: absolute;
      content: "";
      bottom: 100px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #E7E5E4; 
     
      @media(max-width: 980px) {
        background: none;    
      }
      @media(max-width: 768px) {
        background: none;    
      }
    }
    .footer__bottom ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
      gap: 12px;
      flex-wrap: wrap;
      li{
        list-style: none;
      }
    }
    .footer__top .image-wrap img{
      max-width: 140px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
    .footer__top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      @media(max-width: 1200px) {
        align-items: start;
        gap: 16px;
        padding-block: 24px;
      }
    }
    .footer__bottom {
        padding: 20px 0;
        background: #AA7248;        
    }
    .footer__bottom .page_width{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--Spacing-Container-md);
        flex-wrap: wrap;
        width: 100%;
    }
    .footer__bottom p{
      color: #fff;
      {% comment %} font-family: var(--font-family-Body, "Aktiv Grotesk"); {% endcomment %}
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 142.857% */
      @media(max-width: 768px) {
        color: var(--Color-Netural-White, #FFF);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 16px;          
      }
    }
  .footer--bottom--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 768px) {
      flex-direction: column;
      
      justify-content: center;  
    }
}




    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
    }

    .field__label {
      display: none;
    }

    .field__input {
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #E7E5E4;
        display: flex;
        padding: 8px var(--Spacing-Container-sm, 16px);
        align-items: center;
        gap: 8px;
        background-color: transparent;
        margin: 0;
        color: #0B0404;
        @media(max-width: 980px)   {
        {% comment %} border: unset; {% endcomment %}
        }
    }
    .field__input:focus {
      border: 1px solid var(--Border-Base-subtle, #E5E7EB);
      outline: none;
      box-shadow: unset;
        @media(max-width: 980px)   {
        {% comment %} border: unset; {% endcomment %}
        }
    }
    .newsletter-form__button {
        padding: 14px 24px;
    }
    .field:before {
      content: unset;
    }
    .field:after {
      content: unset;
    }
    .field__input::placeholder {
      opacity: 1;
      color: #0B0404
      {% comment %} font-family: var(--font-family-Body, "Aktiv Grotesk"); {% endcomment %}
      font-size:16px;
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Regular, 24px); /* 150% */
    }
  }

@media(max-width: 768px)   {
  .main__manu-wrapper.newsletter-wrapper.main--2 {
      grid-column: 2/5;
      padding-top: 24px;
      border-top: 1px solid #E7E5E4;
  }  
  .--content-wrapper.main__manu-wrapper.main--3 {
      width: 100%;
      text-align: center;
      padding-block: 32px;
      border-block: 1px solid #E7E5E4;
  }  
.main__manu-wrapper .mian__menu {
    color: var(--Color-Dark-500, #0B0404);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
  
}  

}
</style>

<div class="sec-{{ id }} footer__section">
  <div class="wrapper-{{ id }}">

    <div class="main__navigation--container">
      <div class="main__navigation {% unless section.settings.full_width %}page-width{% endunless %}">
        {% for block in section.blocks %}
            {% if block.type == 'logo' %}
                {% assign logo = block.settings.logo %}
                <div class="footer__top {% unless section.settings.full_width %}page-width_{% endunless %} main--{{ forloop.index }}">
                {% if logo %}
                    <div class="image-wrap">{{ logo | image_url: width: logo.width | image_tag: loading: 'lazy' }}</div>
                {% endif %}
                </div>
            {% endif %}     
                        
          {% if block.type == 'navigation' %}
            {% assign title = block.settings.menu_title %}
            {% assign menu = block.settings.nav_menu %}
            <div class="main__manu-wrapper main--{{ forloop.index }}">
              {% for link in menu.links %}
                <a class="mian__menu" href="{{ link.url }}">{{ link.title }}</a>
              {% endfor %}
            </div>
          {% elsif block.type == 'content' %}
            <div class="--content-wrapper main__manu-wrapper main--{{ forloop.index }}">
              <p class="main__menu-title">{{ block.settings.title | escape }}</p>
              <div class="--content">{{ block.settings.content }}</div>
            </div>
          {% elsif block.type == 'social' %}
            <div class="--content-wrapper main__manu-wrapper main--{{ forloop.index }}">
              <p class="main__menu-title">{{ block.settings.menu_title | escape }}</p>
              <div class="fs__social">{%- render 'social-icons', class: 'footer__list-social' -%}</div>
            </div>               
          {% elsif block.type == 'newsletter' %}
            <div class="main__manu-wrapper newsletter-wrapper main--{{ forloop.index }}">
              <p class="main__menu-title">{{ block.settings.newsletter_heading }}</p>
              <p class="main__menu-subtitle">{{ block.settings.newsletter_desc }}</p>
              {% unless block.settings.label == blank %}
                <a href="{{ block.settings.url }}" target="_blank" class="button full">{{ block.settings.label }}</a>
              {% endunless %}
              {% comment %}                              
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div
                  class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="Your Email"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}"> Your Email </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button button full"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      Submit
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}
               {% endcomment %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="footer__bottom">
    <div class="page-width">     
      <div class="footer--bottom--content"> 
      {% if section.settings.copyright != blank %}
        <p>{{ section.settings.copyright }}</p>
      {% endif %}
      <div class="policies__wrap">
        {% for link in section.settings.nav_menu.links %}
          <a class="footer__policy" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
      </div>      
    </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer Section",
  "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_6",
        "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "Policy Menu"
    },    
    {
      "type": "checkbox",
      "id": "show_payment",
      "label": "Show Payment Methods"
    },
    {
      "type": "inline_richtext",
      "id": "copyright",
      "label": "Copyright",
      "default": "Copyright © 2025, fairway & greene. All rights reserved."
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "navigation",
      "name": "Navigation Menu",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu Title",
          "info": "In case you want to display a custom title, otherwise, the title will be retrieved from the menu content"
        },
        {
          "type": "link_list",
          "id": "nav_menu",
          "label": "Navigation Menu"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social Media",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu Title",
          "info": "SOCIAL NETWORKS"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "newsletter_heading",
          "label": "Newsletter Heading"
        },
        {
          "type": "text",
          "id": "newsletter_desc",
          "label": "Newsletter Subheading",
          "default": "What' s inside? Exclusive sales, new arrivals & much more."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "BOOK A PRIVATE APPOINTMENT"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Section"
    }
  ]
}
{% endschema %}
