{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    position: relative;
  }
  .banner__logo{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 16px;
    text-align: center;
    z-index: 2;
  }
  .banner__logo h2{
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }
  .banner__logo img{
    max-width: 170px;
    height: auto;
    object-fit: cover;
  }
  .wrapper-{{ id }} .image-wrap img {
    width: 100%;
    object-fit: cover;
  }
  .wrapper-{{ id }} .image-wrap.original img {
    height: auto;
  }
  .wrapper-{{ id }} .image-wrap.adaptive img {
    height: auto;
    aspect-ratio: 16/9;
    max-height: calc(100vh - 116px);
    /* object-fit: fill; */
    @media(max-width: 1280px) {
      aspect-ratio: 16/9;
    }
    @media(max-width: 600px) {
      aspect-ratio: 9/16;
      {% comment %} height: calc(100svh - 64px); {% endcomment %}
    }
  }
  .wrapper-{{ id }} .block__wrapper {
    position: relative;
  }
  .wrapper-{{ id }} .content__wrapper  {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--Spacing-Container-xl) ;
    top: 0;
    left: 0;
    box-sizing: border-box;
    @media(max-width: 600px) {
      padding: var(--Spacing-Container-xl) 16px;
      {% comment %} padding: var(--Spacing-Container-sm) var(--Spacing-Container-sm) 80px var(--Spacing-Container-sm); {% endcomment %}
    }
  }
  .wrapper-{{ id }} .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .wrapper-{{ id }} .content__info {
    display: flex;
    flex-direction: column;
  }

  /* css for content customization starts ............................................................*/


  /* css for content customization ends ..................................................... */
  .wrapper-{{ id }} .block__wrapper p.pretitle {
    /* color: var(--Content-Inverted-main, #F3F4F6); */

    /* UI Controls/Contextual/tagline/small */
    font-family: var(--font-family-Body);
    font-size: var(--Font-Size-Paragraph-Regular);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Paragraph-Small); /* 125% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin: 0 0 var(--Spacing-Container-sm) 0 ;
  }
  .wrapper-{{ id }} .block__wrapper h1 {
    /* color: var(--Content-Base-main); */
    /* text-align: center; */
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Heading-H1);
    letter-spacing: -0.48px;
    margin: 0 0 var(--Spacing-Container-sm) 0;
    em{
      display: block;
      font-style: normal;
      @media(max-width: 768px) {
        display: unset;
      }
    }
  }
  .wrapper-{{ id }} .block__wrapper h1.heading-medium {
    font-size: var(--Font-Size-Heading-H1);
  }
  .wrapper-{{ id }} .block__wrapper h1.heading-large {
    font-size: 72px;
    font-family: var(--font-family-Title);
    line-height: 125%;
    @media(max-width: 768px) {
      font-size: 48px;
    }
  }
  .wrapper-{{ id }} .block__wrapper p.subtitle {
    /* color: #FFF; */
    /* Paragraph/L */
    font-family: var(--font-family-Body);
    font-size: var(--Font-Size-Paragraph-Medium);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Paragraph-Medium); /* 144.444% */
    margin: 0;
    em{
      display: block;
      font-style: normal;
      @media(max-width: 768px) {
        display: unset;
      }
    }
  }
  .hero_slider__nav_icon {
      width: 64px;
      height: 64px;
      display: flex;
      background: #ffffff47;
      line-height: 1;
      backdrop-filter: blur(10px);
      border: 1px solid #ffffffb5;
      top: unset;
      z-index: 1;
      color: #fff;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
     @media(max-width: 600px) {
       display: none;
     }
  }
  .hero_slider__nav_icon svg path {
    stroke: currentColor;
  }
  .hero_slider__nav_icon.swiper-button-disabled {
      {% comment %} display: none; {% endcomment %}
  }
  .swiper__btn__wrap {
    display: flex;
    gap: 16px;
    align-items: center;
    position: absolute;
    bottom: var(--Spacing-Container-xl);
    right: 100px !important;
  }
  .prev-{{ section.id }}.hero_slider__nav_icon {
    position: relative;
  }
  .next-{{ section.id }}.hero_slider__nav_icon {
    position: relative;
  }
  .swiper-pagination--{{ id }}  {
    display: flex;
    gap: 16px;
    bottom: 0;
    right: var(--Spacing-Container-xl) !important;
    top: unset !important;
    left: unset !important;
    bottom: var(--Spacing-Container-xl) !important;
    width: max-content !important;   
  }
  .swiper-pagination--{{ id }} .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: var(--swiper-pagination-bullet-border-radius,50%);
      fill: var(--Color-Netural-White, #FFF);
      background: #fff;
      opacity: 0.5;
  }
  .swiper-pagination--{{ id }} .swiper-pagination-bullet-active {
    opacity: 1;
    position: relative;
  }
  .swiper-pagination--{{ id }} .swiper-pagination-bullet-active:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--Base-Base-White, #FAFAFA);    
    transform: translate(-7.5px, -7.5px);
  }
  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div class="swiper hero_slider__section_wrap_">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% assign image = block.settings.image %}
            {% assign image_mobile = block.settings.image_mobile %}
            {% assign pretitle = block.settings.pretitle %}
            {% assign title = block.settings.title %}
            {% assign subtitle = block.settings.subtitle %}
            {% assign button_label_primary = block.settings.btn_label1 %}
            {% assign button_url_primary = block.settings.btn_url1 %}
            {% assign button_label_secondary = block.settings.btn_label2 %}
            {% assign button_url_secondary = block.settings.btn_url2 %}
            <!-- css for each Slide starts ...................................................................... -->
            <style>
              .block__wrapper-{{ section.id }}-{{ block.id }} .info-{{ block.id }} {
                color: {{ block.settings.color__info }};
                @media(max-width: 768px) {
                  color: {{ block.settings.color__info_m }};
                }
              }
              .block__wrapper-{{ section.id }}-{{ block.id }} .image-wrap {
                filter: brightness({{ block.settings.image_overlay_opacity | append:'%' }});
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.middle_left {
                justify-content: center;
                align-items: start;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.middle_center {
                justify-content: center;
                align-items: center;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.middle_right {
                justify-content: center;
                align-items: end;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.top_left {
                justify-content: start;
                align-items: start;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.top_center {
                justify-content: start;
                align-items: center;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.top_right {
                justify-content: start;
                align-items: end;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.bottom_left {
                justify-content: end;
                align-items: start;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.bottom_center {
                justify-content: end;
                align-items: center;
              }
              .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.bottom_right {
                justify-content: end;
                align-items: end;
              }
              .slideshow__section_wrap {
                overflow: hidden;
              }
              @media(min-width: 601px) {
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.top_space_between {
                  justify-content: space-between;
                  align-items: start;
                  flex-direction: row;
                }

                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.middle_space_between {
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: row;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.bottom_space_between {
                  justify-content: space-between;
                  align-items: end;
                  flex-direction: row;
                }
              }
                .slideshow__section_wrap {
                  overflow: hidden;
                }
              @media(max-width: 600px) {
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-middle_left {
                  justify-content: center;
                  align-items: start;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-middle_center {
                  justify-content: center;
                  align-items: center;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-middle_right {
                  justify-content: center;
                  align-items: end;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-top_left {
                  justify-content: start;
                  align-items: start;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-top_center {
                  justify-content: start;
                  align-items: center;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-top_right {
                  justify-content: start;
                  align-items: end;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-bottom_left {
                  justify-content: end;
                  align-items: start;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-bottom_center {
                  justify-content: end;
                  align-items: center;
                }
                .block__wrapper-{{ section.id }}-{{ block.id }}.block__wrapper .content.mobile-bottom_right {
                  justify-content: end;
                  align-items: end;
                }
              }
            </style>

            <!-- css for each Slide ends ........................................................................ -->
            <div class="swiper-slide">
              <div class="block__wrapper block__wrapper-{{ section.id }}-{{ block.id }}">
                {% if image %}
                  <div class="image-wrap {{ section.settings.banner_height }} {% if image_mobile %}small-hide{% endif %}">
                    {{ image | image_url: width: image.width | image_tag }}
                  </div>
                {% else %}
                  <div class="image-wrap  {{ section.settings.banner_height }} {% if image_mobile %}small-hide{% endif %}">
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
                {% if image_mobile %}
                  <div class="image-wrap  large-up-hide medium-hide {{ section.settings.banner_height }}">
                    {{ image_mobile | image_url: width: image_mobile.width | image_tag }}
                  </div>
                {% else %}
                  <div class=" large-up-hide medium-hide">
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
                <div class="content__wrapper {% if section.settings.show_pagination %}pagination__padding{% endif %}">
                  <div class="content  {{ block.settings.content_position }} mobile-{{ block.settings.content_position_m }}">
                    <div class="content__info">
                      {% if pretitle != blank %}
                        <p class="pretitle info-{{ block.id }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }}">
                          {{ pretitle }}
                        </p>
                      {% endif %}
                      {% if title != blank %}
                        <h1 class="info-{{ block.id }} heading-{{ block.settings.heading_size }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }} {% if subtitle == blank %}mb-0{% endif %}">
                          {{ title }}
                        </h1>
                      {% endif %}
                      {% if subtitle != blank %}
                        <p class="subtitle info-{{ block.id }} {{ block.settings.info_align }} mobile-{{ block.settings.info_align_m }}">
                          {{ subtitle }}
                        </p>
                      {% endif %}
                      {% if button_label_primary != blank or button_label_secondary != blank %}
                        <div class="btn__wrapper justify-{{ block.settings.info_align }} mobile-justify-{{ block.settings.info_align_m }}">
                          {% if button_label_primary != blank %}
                            <a class="button full outlined" href="{{ button_url_primary }}">
                              {{- button_label_primary -}}
                              <span>{% render 'all-icons', name: 'btn_arrow' %}</span></a
                            >
                          {% endif %}
                          {% if button_label_secondary != blank %}
                            <a class="button full outlined" href="{{ button_url_secondary }}">
                              {{- button_label_secondary -}}
                              <span>{% render 'all-icons', name: 'btn_arrow' %}</span></a
                            >
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination--{{ id }} "></div>
        {% if section.settings.show_arrow %}
          <div class="swiper__btn__wrap">
          <div class="prev-{{ section.id }} hero_slider__nav_icon">
            {% render 'all-icons', name: 'left_arrow' %}
          </div>
          <div class="next-{{ section.id }} hero_slider__nav_icon">
            {% render 'all-icons', name: 'right_arrow' %}
          </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const heroSwiper = new Swiper('.wrapper-{{ id }} .swiper', {
      slidesPerView: 1,
      {% comment %} loop: true, {% endcomment %}
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination--{{ id }}",
        clickable: true,
      },      
      navigation: {
        nextEl: '.next-{{ section.id }}',
        prevEl: '.prev-{{ section.id }}',
      },
      effect: 'fade',
      autoplay: {
        delay: 5000,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Hero Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "header",
      "content": "Banner Content Postion"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "Banner Height",
      "info": "Select Adapitive To Showcase The Banner Within The Veiwport For Desktop",
      "options": [
        {
          "value": "adaptive",
          "label": "Adaptive"
        },
        {
          "value": "original",
          "label": "Original"
        }
      ],
      "default": "adaptive"
    },
    {
      "type": "checkbox",
      "id": "enable_autoslide",
      "label": "Enable Auto slide",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show Arrow Slider",
      "default": true,
      "info": "Only Applicable For Desktop"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Banner Image (Mobile)"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Overlay Opacity",
          "default": 100
        },
        {
          "type": "header",
          "content": "Content Positions"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content Position",
          "options": [
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "top_center",
              "label": "Top Center"
            },
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "middle_center",
              "label": "Middle Center"
            },
            {
              "value": "middle_right",
              "label": "Middle Right"
            },
            {
              "value": "middle_left",
              "label": "Middle Left"
            },
            {
              "value": "bottom_left",
              "label": "Botttom Left"
            },
            {
              "value": "bottom_center",
              "label": "Botttom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            },
            {
              "value": "top_space_between",
              "label": "Top Spacebetween"
            },
            {
              "value": "middle_space_between",
              "label": "Middle Spacebetween"
            },
            {
              "value": "bottom_space_between",
              "label": "Bottom Spacebetween"
            }
          ],
          "default": "bottom_center"
        },
        {
          "type": "select",
          "id": "content_position_m",
          "label": "Content Position (Mobile)",
          "options": [
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "top_center",
              "label": "Top Center"
            },
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "middle_center",
              "label": "Middle Center"
            },
            {
              "value": "middle_right",
              "label": "Middle Right"
            },
            {
              "value": "middle_left",
              "label": "Middle Left"
            },
            {
              "value": "bottom_left",
              "label": "Botttom Left"
            },
            {
              "value": "bottom_center",
              "label": "Botttom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color__info",
          "label": "Text Color",
          "default": "#1F2937"
        },
        {
          "type": "color",
          "id": "color__info_m",
          "label": "Text Color (Mobile)",
          "default": "#1F2937"
        },
        {
          "type": "select",
          "id": "info_align",
          "label": "Text Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "info_align_m",
          "label": "Text Align (Mobile)",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre Title",
          "default": "Pre Title",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading Size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            }
          ],
          "default": "medium"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Heading",
          "default": "Heading",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Banner Description",
          "default": "Banner Description",
          "info": "Use Italic For Line Break"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "inline_richtext",
          "id": "btn_label1",
          "label": "Button Label Primary",
          "default": "Shop Men's"
        },
        {
          "type": "url",
          "id": "btn_url1",
          "label": "Button Url Primary"
        },
        {
          "type": "inline_richtext",
          "id": "btn_label2",
          "label": "Button Label Secondary",
          "default": "Shop Women's"
        },
        {
          "type": "url",
          "id": "btn_url2",
          "label": "Button Url Secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
