{{ 'component-card.css' | asset_url | stylesheet_tag }}
{% liquid
  assign id = section.id
%}
<style>
      .section-container--{{ section.id }}{
        margin-top: {{ section.settings.margin_top | append:'px' }};
        margin-bottom: {{ section.settings.margin_bottom | append:'px' }};
        padding-top: {{ section.settings.padding_top | append:'px' }};
        padding-bottom: {{ section.settings.padding_bottom | append:'px' }};
        background-color: {{ section.settings.bg-color }};
        overflow: hidden;
      }
      @media screen and (max-width: 768px){
        .section-container--{{ section.id }}{
          margin-top: {{ section.settings.margin_top_mobile | append:'px' }};
          margin-bottom: {{ section.settings.margin_bottom_mobile | append:'px'  }};
          padding-top: {{ section.settings.padding_top_mobile | append:'px' }};
          padding-bottom: {{ section.settings.padding_bottom_mobile | append:'px' }};
        }
      }
    .section-container--{{ section.id }}{
        .--top-block {
          display: grid;
          grid-template-columns: repeat(2, minmax(0,1fr));
          gap: var(--Spacing-Container-xxs);
          align-items: end;
          margin-bottom: var(--Spacing-Container-md);
           box-sizing: border-box;
          {% if section.settings.title == blank and section.settings.subtitle == blank %}
            display: none;
          {% endif %}
          {% if section.settings.full_width == true %}
            padding: 0 var(--Spacing-Section-Section-Horizontal-Padding, 12px);
            {% endif %}
          @media(max-width: 600px){
            grid-template-columns: minmax(0,1fr);
            gap: var(--Spacing-Container-xs);
          }
      }
        h3.--section-title {
            color: var(--Content-Base-main, #1F2937);
            /* font-family: var(--font-family-Title, "Neue Plak"); */
            /* font-size: var(--Font-Size-Heading-H2, 40px); */
            font-weight: 500;
            /* line-height: var(--Line-Height-Heading-H2, 40px); */
            letter-spacing: -0.4px;
            margin-block: 0 var(--Spacing-Container-xxs);
        }
      .--section-subtitle {
          color: var(--Content-Base-main, #1F2937);
          /* font-family: var(--font-family-Body, "Neue Plak"); */
          font-size: var(--Font-Size-Paragraph-Medium);
          line-height: var(--Line-Height-Paragraph-Medium);
      }




      .--button-wrapper {
          display: flex;
          gap: var(--Spacing-Container-sm);
          justify-content: flex-end;
          @media(max-width: 600px){
            justify-content: flex-start;
          }
      }
      a.--button {
        display: block;
        color: #fff;
        text-align: center;
        /* font-family: var(--font-family-Body, "Neue Plak"); */
        font-size: var(--Font-Size-UI-Controls-Control-Button-Small);
        line-height: var(--Line-Height-UI-Controls-Control-Button-Small);
        text-transform: capitalize;
        padding: var(--Spacing-Container-xs) var(--Spacing-Container-sm);
        border: 2px solid var(--Content-Base-main);
        background: #004027;
      }
  .collection-wrapper {
      position: relative;
  }

     .mfc__nav-scroll__wrapp {
        display: flex;
        gap: 40px;
        align-items: center;
        padding: 12px;
      }
      .button__wrapper_swiper {
          display: flex;
          gap: 16px;
          align-items: center;
      }
      .--nav-icon {
          width: 40px;
          height: 40px;
          display: flex;
          background: var(--Primary, #004027);
          line-height: 1;
          /* position: absolute; */
          position: relative;
          /* top: 50%; */
          z-index: 1;
          border-radius: 0%;
          align-items: center;
          justify-content: center;
          /* transform: translateY(-50%); */
          box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
          cursor: pointer;
          path {
            stroke: #fff;
          }
      }
      .swiper-scrollbar-{{ section.id }} {
        position: relative !important;
        left: 0 !important;
        bottom: 0 !important;
        /* margin: var(--Spacing-Container-sm) 0 0 0; */
        height: 3px !important;
        opacity: 1 !important;
        width: 100% !important;
        cursor: pointer;
        padding-block: 16px;
        z-index: 1;
        background: transparent;
        .swiper-scrollbar-drag {
          background: #004027;
          display: block !important;
          height: 2px;
        }
      }
      .swiper-scrollbar-{{ section.id }}::before {
        position: absolute;
        content: "";
        background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, .1));
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
      }
      .--nav-icon.swiper-button-disabled {
          background: #f5ecd5;
          path {
            stroke: #B3DCCC;
          }
      }
        .prev-{{ section.id }}.--nav-icon {
          /* left: -20px; */
          /* left: 0px; */
        }
        .next-{{ section.id }}.--nav-icon {
          /* right: -20px; */
          /* right: 0px; */
        }
      }
      {% comment %}

    .--nav-icon {
        width: 40px;
        height: 40px;
        display: flex;
        background: #fff;
        line-height: 1;
        position: absolute;
        top: 50%;
        z-index: 1;
        border-radius: 0%;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }
    .--nav-icon.swiper-button-disabled {
        display: none;
    }
      .prev-{{ section.id }}.--nav-icon {
        /* left: -20px; */
        left: 0px;
      }
      .next-{{ section.id }}.--nav-icon {
        /* right: -20px; */
        right: 0px;
      }
      {% endcomment %}

    }
</style>

<recommendation-product
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-wrapper-el="recommendation-container"
>
  <section class="section-container--{{ section.id }}">
    <div class="section-wrapper--{{ section.id }} {% unless section.settings.full_width %}page-width{% endunless %} recommendation-container">
      <div class="--top-block">
        <div class="--text-content">
          <h3 class="--section-title">{{ section.settings.title }}</h3>
          <div class="--section-subtitle">{{ section.settings.subtitle }}</div>
        </div>
        <div class="--button-wrapper">
          {% if section.settings.button_label != blank and section.settings.button_url != blank %}
            <a class="--button" href="{{ section.settings.button_url }}"> {{ section.settings.button_label }} </a>
          {% endif %}
          {% if section.settings.secondary_button_label != blank and section.settings.secondary_button_url != blank %}
            <a class="--button" href="{{ section.settings.secondary_button_url }}">
              {{ section.settings.secondary_button_label }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="collection-wrapper" id="featured-collection-hs">
        <div class="swiper swiper-{{ section.id }}">
          <div class="swiper-wrapper">
            {%- for product in recommendations.products -%}
              <div class="swiper-slide">
                {% render 'product-card', product: product %}
              </div>
            {% endfor %}
          </div>
          <div class="mfc__nav-scroll__wrapp">
            <div class="swiper-scrollbar-{{ section.id }} swiper-scrollbar"></div>
            <div class="button__wrapper_swiper">
              <div class="prev-{{ section.id }} --nav-icon ">
                {% comment %}
                  {% render 'all-icons', name: 'left_arrow' %}
                {% endcomment %}
                {% render 'all-icons', name: 'swiper_left' %}
              </div>
              <div class="next-{{ section.id }} --nav-icon ">
                {% render 'all-icons', name: 'swiper_right' %}
                {% comment %}
                  {% render 'all-icons', name: 'right_arrow' %}
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        {% comment %}
          <div class="prev-{{ section.id }} --nav-icon">
            {% render 'all-icons', name: 'left_arrow' %}
          </div>
          <div class="next-{{ section.id }} --nav-icon">
            {% render 'all-icons', name: 'right_arrow' %}
          </div>
        {% endcomment %}
      </div>
    </div>
  </section>
</recommendation-product>

<script defer="defer">
    document.addEventListener("DOMContentLoaded", (event) => {
        class RecommendationProduct extends HTMLElement{
          constructor() {
            super()
            this.wrapperEL = `.${this.dataset.wrapperEl}`
            this.section = document.querySelector(`#shopify-section-${this.dataset.sectionId}`)
            this.renderSection()
          }
        
          renderSection() {
            let prevThis = this;
             fetch(this.dataset.url)
            .then((response) => response.text())
            .then((data) => {
              let html = new DOMParser().parseFromString(data,'text/html')
              if(this.section) {
                this.section.querySelector(this.wrapperEL).innerHTML = html.querySelector(this.wrapperEL).innerHTML
              }
            })
            .catch((error) => console.error("Error fetching recommendations:", error))
            .finally(() => {
              prevThis.initSwiper();
              window.cardProductFunc();
              // prevThis.initNavigation()
            })
          }

          initSwiper() {
            new Swiper(".swiper-{{ section.id }}", {
              slidesPerView: 1.2,
              spaceBetween: 2,
              // freeMode: true,
              breakpoints: {
                  600: {
                    slidesPerView: 4,
                    spaceBetween: 2,
                  },
                },
            // loop: true,
            scrollbar: {
              el: ".swiper-scrollbar-{{ section.id }}.swiper-scrollbar",
              draggable: true,
              hide: false
            },
            navigation: {
              nextEl: ".next-{{ section.id }}",
              prevEl: ".prev-{{ section.id }}",
            }
            });
          }

          // initNavigation (){
          //       document.getElementById('featured-collection-hs').addEventListener('mouseover', () => {
          //         document.getElementById('slider-prev--{{ section.id }}').style.left = '4px';
          //         document.getElementById('slider-next--{{ section.id }}').style.right = '8px';
          //       console.log("abc")
          //     });
          
          //      document.getElementById('featured-collection-hs').addEventListener("mouseleave", () => {
          //         document.getElementById('slider-prev--{{ section.id }}').style.left = '-500px';
          //         document.getElementById('slider-next--{{ section.id }}').style.right = '-500px';
          //        console.log("xyz")
          //      }); 
          // }
          
        }
        customElements.define('recommendation-product', RecommendationProduct)
    });
</script>
{% schema %}
{
  "name": "New Related Products",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
       {
      "type": "text",
      "id": "id_nav",
      "label": "Id for Navigtion"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },

    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "Secondary Button Label"
    },
    {
      "type": "url",
      "id": "secondary_button_url",
      "label": "Secondary Button Url"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],

  "presets": [
    {
      "name": "New Related Products"
    }
  ]
}
{% endschema %}
