{% liquid
  assign id = section.id
%}

<style>
  .sec-{{ id }} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    .card-info h4 {
        text-align: left;
    }
    @media(min-width: 768px) {
      .--product-card-v3.--august-product-card .--color-options {
          {% comment %} justify-content: flex-end; {% endcomment %}
      }    
      .--product-card-v3.--august-product-card .--product-info {
          {% comment %} align-items: flex-end; {% endcomment %}
      }    
      .--product-card-v3.--august-product-card h3.--product-title {
        {% comment %} text-align: left; {% endcomment %}
      }    
    }
  }

  .wrapper-{{ id }}{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    {% comment %} gap: var(--Spacing-Container-md, 24px); {% endcomment %}
    gap: 0;
    @media(max-width: 768px){
      grid-template-columns: minmax(0,1fr);
      gap: 32px;
    }
  }
  .wrapper-{{ id }}.right {
    grid-template-columns: 1.5fr 1fr;
    gap: 0;
    @media(max-width: 768px){
      grid-template-columns: minmax(0,1fr);
      gap: 32px;
    }    
  }
  .sec-{{ id }} .img-wrapper--{{ section.id }} img {
    width: 85%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;    
    @media(max-width: 768px){
      max-width: 100%; 
      width: 100%;
    }    
  }
  
  .sec-{{ id }} .left--wrapper {
    position: relative;
    max-height: max-content;
  }
  .sec-{{ id }} .title-wrapper--{{ section.id }} h2{
    {% comment %} margin: 0 0 32px; {% endcomment %}
  }
  .img-wrapper--{{ section.id }} {
    display: flex;
    justify-content: end;
 
  }
  .title-wrapper--{{ section.id }} {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--Spacing-Container-lg);
    display: flex;
    align-items: flex-start;
    justify-items: start;
    flex-direction: column;
    justify-content: flex-end;
    @media(min-width: 768px) {
        right: 0;
        left: unset;
        width: 85%;      
    }
   }
  .title-wrapper--{{ section.id }} h2{
    color: var(--Base-Base-White, #FAFAFA);
    text-align: center;
    font-family: "Noto Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
    letter-spacing: -0.96px;
    width: 100%;
    margin: 0 0 40px;
    @media(max-width: 768px) {
    font-size: 30px; 
    margin: 0 0 28px;
    }    
    em{
      display: block;
      font-style: normal;
      @media(max-width: 768px) {
        display: unset;
      }
    }    
  }
  .title-wrapper--{{ section.id }} p{
    color: var(--Base-Base-White, #FAFAFA);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 8px;
    width: 100%;
    @media(max-width: 768px) {
    font-size: 16px; 
    }      
  }
  .title-wrapper--{{ section.id }} a{
    color: #F3F4F6;
    text-align: center;
    width: max-content;
    margin: 0 auto;    
 }
  .title-wrapper--{{ section.id }} a::after, .title-wrapper--{{ section.id }} a::before{
        filter: invert(1);
  }

  .sec-{{ id }} .right--wrapper-dektop {
    /* max-height: 80vh;  */
    /* max-height: 80vh; */
    overflow-y: auto;
    {% comment %} direction: rtl; {% endcomment %}
    padding-right: 0;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 32px;
    padding-left: 50px;
    {% if section.settings.img_position == 'right' %}
      grid-column: 1;
      grid-row: 1;
    {% endif %}
    @media(max-width: 768px){
      display: none;
      direction: unset;
      padding-left: 0px;
    }    
  }
  .wrapper-{{ id }}.right .right--wrapper-dektop {
    padding-left: 0;
    padding-right: 50px;
    @media(max-width: 768px){
      padding-right: 0px;
    }        
  }

.sec-{{ id }} .right--wrapper-dektop::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(170,114,72,0.3);
	background: rgba(75, 85, 99, 0.30); 
    cursor: pointer;
    padding: 2px;
}

.sec-{{ id }} .right--wrapper-dektop::-webkit-scrollbar
{
  {% comment %} width: 0; {% endcomment %}
    width: 2px;
    padding: 2px;
    cursor: pointer;
	background: rgba(75, 85, 99, 0.30); 
}

.sec-{{ id }} .right--wrapper-dektop::-webkit-scrollbar-thumb
{
	background-color: #AA7248;
	border: none;
  overflow: hidden; 
  cursor: pointer;
  padding: 2px;
}
  .sec-{{ id }} .right--wrapper-mbl {
    display: none;
    @media(max-width: 768px){
      display: block;
    }    
  }
  
  /* .sec-{{ id }}.scroll-enabled {
    overflow: auto;
  }

  .sec-{{ id }}.scroll-disabled {
    overflow: hidden;
  } */

@media(max-width: 768px) {
  .sec-{{ id }} {
    margin-top: {{section.settings.margin_top_m | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
    padding-top: {{section.settings.padding_top_m | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
  }    
}

</style>

<div class="sec-{{ id }} {% unless section.settings.full_width %}page-width{% endunless %}" id="sec-{{ id }} ">
    <h2 class="--section-title">{{ section.settings.heading }}</h2>
  <div class=" belongsToNav" id="{{ section.settings.sec_id  | downcase }}">
    <div class="wrapper-{{ id }} {% if section.settings.img_position == 'left' %}left {% else %}right{% endif %}">
      <!-- Left Image -->
      <div class="left--wrapper">
        <div class="title-wrapper--{{ section.id }}">
        <p>{{ section.settings.pretitle }}</p>
          <h2>{{ section.settings.title }}</h2>            
          {% unless section.settings.label == blank %}
            <a class="button full" href="{{ section.settings.url }}">{{ section.settings.label }}</a>
          {% endunless %}
        </div>
        <div class="img-wrapper--{{ section.id }}">
          {{ section.settings.image | image_url: width: section.settings.image.width | image_tag }}          
        </div>
      </div>

      <!-- Right Product List Desktop -->
      <div class="right--wrapper right--wrapper-dektop">
        {% for block in section.blocks %}
          {% unless block.settings.collection == blank %}
            {% for product in block.settings.collection.products limit: section.settings.p_to_show %}
              <div class="product-card">
                 {%# render 'product-card-new-v1', product: product, loading: true %}
                    {% render 'product-card', product: product %}
              </div>
            {% endfor %}
          {% endunless %}
        {% endfor %}
      </div>
      
      <!-- Right Product List Mobile -->
      <div class="right--wrapper right--wrapper-mbl">
        <div class="swiper swiper-{{ section.id }}">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% unless block.settings.collection == blank %}
                {% for product in block.settings.collection.products limit: section.settings.p_to_show %}
                  <div class="swiper-slide">
                    {%# render 'product-card-new-v1', product: product, loading: true %}
                    {% render 'product-card', product: product %}
                  </div>
                {% endfor %}
              {% endunless %}
            {% endfor %}
          </div>         
        </div>
      </div>
      
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const img = document.querySelector('.sec-{{ id }} .left--wrapper');
    const rightWrapper = document.querySelector('.sec-{{ id }} .right--wrapper-dektop');
    function adjustRightWrapperHeight() {
      const imageHeight = img.clientHeight;
      rightWrapper.style.maxHeight = `${imageHeight}px`; 
    }
    adjustRightWrapperHeight();
    window.addEventListener('resize', adjustRightWrapperHeight);
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper(".swiper-{{ section.id }}", {
      slidesPerView: 1.2,
      spaceBetween: 12,
      scrollbar: {
        el: ".swiper-scrollbar-{{ section.id }}.swiper-scrollbar",
        // hide: true,
        draggable: true
      },      
    });
  });
</script>

{% schema %}
{
  "name": "Shop The Look",
  "settings": [
    {
      "type": "text",
      "id": "sec_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },    
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "pretitle",
      "label": "Pretitle"        
    },    
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "text",
        "id": "label",
        "label": "Label"
    },
    {
        "type": "url",
        "id": "url",
        "label": "Button Url"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "img_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Image Position"
    },
    {
      "type": "range",
      "id": "p_to_show",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Product To Show",
      "default": 6
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 80
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop The Look",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
